{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block body %}
    <section id="home">
        <div id="goToTricks" class="icon">
            <a href="#tricks" title="Aller à la section 'tricks'"><i class="fas fa-angle-down"></i></a>
        </div>
    </section>
    <section id="tricks">
        <h1 class="m-5 pt-5 text-center">Tricks
            {% if app.user %}
                <a href="{{ path('trick_add') }}" title="Ajouter une figure"><i class="fas fa-plus-circle card-icon ml-5"></i></a>
            {% endif %}
        </h1>
        <hr />
        {% for message in app.flashes('success') %}
            <div class="alert alert-success m-auto w-50 text-center">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row justify-content-lg-around mt-5">
            {% for trick in tricks %}
                <div class="card col-12 col-lg-3 img-fluid m-lg-5 mb-5">
                    <div class="text-center">
                        <p class="my-3">{{ trick.title }}</p>
                    </div>
                    <a href="{{ path('trick', {slug: trick.slug}) }}" title="Voir une figure">
                        <img src="{{ trick.firstImageUrl }}" class="card-img-top img-fluid" alt="Image de la figure {{ trick.title }}">
                        <div class="card-body">
                            <p class="card-text">{{ trick.shortDescription }}</p>
                        </div>
                    </a>
                    {% if app.user %}
                        <div class="controls">
                            <div class="text-right">
                                <a href="{{ path('trick_update', {slug: trick.slug}) }}" class="card-icon" title="Modifier la figure"><i class="fas fa-pen-square"></i></a>
                                <a href="{{ path('trick_delete', {id: trick.id}) }}" class="card-icon ml-4" title="Supprimer la figure" onclick="return confirm('Êtes vous certain de vouloir supprimer la figure {{ trick.title }}?')"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <div id="backTop" class="icon text-right d-none d-lg-block">
        <a href="#top" title="Haut de page"><i class="fas fa-angle-up"></i></a>
    </div>
{% endblock %}
