{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <section id="forgotPassword">
        <div class="mb-5 container w-25">
            <h1 class="my-5 text-center">Mot de passe oublié? <i class="ml-2 fas fa-lock"></i></h1>
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
