{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/form.css">
    {{ parent() }}
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <section id="register">
        <div class="mb-5 container w-25">
            <h1 class="my-5 text-center">Créer un compte</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
            <div class="text-center my-5">
                <a href="{{ path('login') }}">Vous avez déjà un compte?</a>
            </div>
        </div>
    </section>

{% endblock %}