{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <section id="resetPassword">
        <div class="mb-5 container w-50 width-sm-100">
            <h1 class="my-5 text-center">Réinitialiser son mot de passe</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
                {{ form_row(form.password) }}
                {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
