{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <section id="trick">
        <div class="container">
            <h1 class="text-center m-5">{{ trick.name }}</h1>
            <div class="text-center">
                <img src="{{ trick.imageUrl }}" class="img img-fluid" alt="image d'un {{ trick.name }}">
            </div>
            <p>{{ trick.description }}</p>
        </div>
    </section>
{% endblock %}
