{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/trick.css') }}">
{% endblock %}

{% block body %}
    <section id="trick">
        <div class="text-center mb-5">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success m-auto w-50 my-5 text-center">
                    {{ message }}
                </div>
            {% endfor %}
            <h1 class="m-5">{{ trick.title }}</h1>
            <img src="{{ trick.firstImageUrl }}" class="img img-fluid text-left" alt="image de la figure {{ trick.title }}">
            <div class="content mb-5 p-3">
                <small>Ajouté le {{ trick.createdAt|date('m/d/Y à h:i') }} par {{ trick.author.userNickName }} | Catégorie: {{ trick.category }} | <a href="#comments" title="Vers les commentaires">
                        {{ comments|length }} commentaire{% if comments|length == 0 or comments|length > 1 %}s{% endif %}
                    </a>
                </small>
                {% if app.user %}
                    <div class="controls">
                        <a href="{{ path('trick_update', {slug: trick.slug}) }}" class="card-icon" title="Modifier la figure"><i class="fas fa-pen-square"></i></a>
                        <a href="{{ path('trick_delete', {id: trick.id}) }}" class="card-icon ml-4" title="Supprimer la figure" onclick="return confirm('Êtes vous certain de vouloir supprimer la figure {{ trick.title }}?')"><i class="fas fa-trash"></i></a>
                    </div>
                {% endif %}
                <hr>
                <p class="mb-3 font-weight-bold">{{ trick.shortDescription }}</p>
                {% if trick.medias is not empty %}
                    <hr>
                    <a class="d-md-none btn btn-secondary btn-lg" data-toggle="collapse" href="#medias" role="button" aria-expanded="false" aria-controls="medias" title="Voir les médias">
                        Voir les médias
                    </a>
                    <div id="medias" class="d-flex justify-content-center flex-column flex-lg-row collapse">
                        <div id="carouselImages" class="carousel slide m-3" data-ride="">
                            {% if  trick.typedMediasUrl(constant('App\\Entity\\Media::TYPE_IMAGE')) %}
                                <ol class="carousel-indicators">
                                    {% for imageUrl in trick.typedMediasUrl(constant('App\\Entity\\Media::TYPE_IMAGE')) %}
                                        <li data-target="#carouselImages" data-slide-to="{{ loop.index }}" class="{%if loop.index == 1%} active {%endif%}"></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for imageUrl in trick.typedMediasUrl(constant('App\\Entity\\Media::TYPE_IMAGE')) %}
                                        <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                            <img class="d-block img-fluid w-100" src="{{ imageUrl }}" alt="Slide {{ loop.index }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselImages" role="button" data-slide="prev" title="Précédent">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselImages" role="button" data-slide="next" title="Suivant">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {% endif %}
                        {% if  trick.typedMediasUrl(constant('App\\Entity\\Media::TYPE_VIDEO'))%}
                            <div id="carouselVideos" class="carousel slide m-3" data-ride="">
                                <ol class="carousel-indicators">
                                    {% for videoUrl in trick.typedMediasUrl(constant('App\\Entity\\Media::TYPE_VIDEO')) %}
                                        <li data-target="#carouselVideos" data-slide-to="{{ loop.index }}" class="{% if loop.index == 1 %} active {%endif%}"></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for videoUrl in trick.typedMediasUrl(constant('App\\Entity\\Media::TYPE_VIDEO')) %}
                                        <div class="carousel-item {% if loop.index == 1 %} active {%endif%}">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item w-100" src="{{ videoUrl }}" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselVideos" role="button" data-slide="prev" title="Précédent">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselVideos" role="button" data-slide="next" title="Suivant">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <hr>
                <h2 class="my-5 font-weight-bold">Description</h2>
                <p class="m-auto description">{{ trick.description }}</p>
                <hr>
            </div>
        </div>
        <div class="container mb-5 pb-5">
            <div class="leaveComment text-center">
                {% if app.user %}
                    {# TODO #}
                    <h1>FORMULAIRE AJOUT COMMENTAIRES ICI</h1>
                {% else %}
                    <p class="mb-5"><a href="{{ path('register') }}" title="S'inscrire">Inscrivez-vous</a> ou <a href="{{ path('login') }}" title="Se connecter">connectez vous</a> pour commenter cet article</p>
                {% endif %}
            </div>
            <div id="comments" class="my-5 pb-5">
                <p>2 commentaires(s)</p>
                <div class="comment mb-5 p-5">
                    <div class="card-header mb-3">Mathieu<small class="text-muted ml-2"> le 17/09/2020 à 16h34</small></div>
                    <img src="https://picsum.photos/id/1/100/100" alt="avatar de Mathieu" class="float-right">
                    <p class="m-5 d-inline">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    </p>
                </div>
                <hr>
                <div class="comment mb-5 p-5">
                    <div class="card-header mb-3">Mathieu<small class="text-muted ml-2"> le 17/09/2020 à 16h34</small></div>
                    <img src="https://picsum.photos/id/1/100/100" alt="avatar de Mathieu" class="float-right">
                    <p class="m-5 d-inline">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </section>
{% endblock %}
